.DS_Store

node_nodules
npm-debug.log

*.pyc

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

clar.suite
clar.cache
ssmtest